@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/kaushan-script-latin.woff2") format("woff2");
}

html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-neutral-950;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-area, .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
